{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier", "tailwindcss", "react"],
  "extends": ["airbnb-typescript", "prettier"],
  "rules": {
    "tailwindcss/classnames-order": "error",
    "react/forbid-dom-props": [
      2,
      {
        "forbid": [
          {
            "propName": "style",
            "message": "Use Tailwind CSS instead."
          }
        ]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react-router-dom",
            "importNames": ["Link", "NavLink"],
            "message": "To support `Breadcrumb` in Shrunk.tsx to reload once a page changes, this is banned. Use HTML's `a` component instead."
          }
        ]
      }
    ],
    "react/require-default-props": "off",
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "no-underscore-dangle": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "prettier/prettier": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-nested-ternary": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/no-access-state-in-setstate": "off"
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "excludedFiles": ["src/api/**"],
      "rules": {
        "no-restricted-globals": [
          "error",
          {
            "name": "fetch",
            "message": "Use a dedicated API client or a wrapper around fetch() or define a function utilizing fetch in src/api/**.ts"
          }
        ]
      }
    },
    {
      "files": ["src/api/**"],
      "rules": {
        "no-restricted-globals": ["off", "fetch"]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  }
}
