<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>Dear {{ reporter }},</p>

        <p>Your ticket ({{ ticket_id }}) has been resolved.</p>

        {% if resolution %}<p>Status: {{ resolution }}</p>{% endif %}
        {% if comment %}<p>Comment: {{ comment }}</p>{% endif %}
        
        <p>Thank you for your interest and usage of go.rutgers.edu, the official URL shortener of Rutgers, The State University of New Jersey.</p>
        
        <p>Sincerely,</p>
        <p>The OSS Team</p>

        <p><i>Please do not reply to this email. You may direct any questions to
        <a href="mailto:oss@oit.rutgers.edu">oss@oit.rutgers.edu</a>.</i></p>
    </body>
</html>