#add-link-button, .edit-link-button {
    width: 100%;
}

.edit-link-modal-header {
    padding-bottom: 0;
}

.edit-link-modal-body {
    padding-top: 0;
}

.btn-qr {
    width: 100%;
}

#qr-buttons {
    width: 256px;
}

#qr-modal > .modal-dialog {
    width: 290px;
}

#qr-buttons {
    padding-top: 10px;
}

#qr-buttons > button:first-child {
    border-right: 1px solid rgba(244, 97, 124);
}

#qr-buttons > button:last-child {
    border-left: 1px solid rgba(244, 97, 124);
}
