#add-link-button, .edit-link-button {
    width: 100%;
}

.edit-link-modal-header {
    padding-bottom: 0;
}

.edit-link-modal-body {
    padding-top: 0;
}

.btn-qr {
    width: 100%;
}

#qr-buttons {
    width: 256px;
}

#qr-modal > .modal-dialog {
    width: 16%;
}

.qr.modal-body {
    margin: 0 auto;
}

#qr-buttons {
    padding-top: 10px;
}
