.revoke-title-row {
    margin-top: 15px;
    margin-bottom: 10px;
}

.comment {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    margin-bottom: 10px;
    resize: none;
}
