# Temporary files
*.sw[op]
*~

# Secrets
shrunk/config.py

# Build artifacts and the like
Makefile
__pycache__
*.pyc
dist/
shrunk.egg-info/

# Virtual environment
virtualenv/

# Flask logs
*.log

# Big files
*GeoLite2-City.mmdb