# Temporary files
*.sw[op]
*~

# Secrets
backend/shrunk/config.py

# Build artifacts and the like
__pycache__
*.pyc
dist/
dist
shrunk.egg-info/
docs_out/

# Virtual environment
venv/
env/
virtualenv/
build/
build

# Flask logs
*.log

# Big files
# *GeoLite2-City.mmdb

runappserver.py

# pytest
*pytest_cache*
venv.old
shrunk/srunk/static/shrunk_bootstrap.css
.webassets-cache
shrunk_css.css
shrunk/shrunk/static/shrunk_*.js
.sass-cache
.#*
\#*
.coverage
shrunk/shrunk/static/out
*.egg-info

node_modules/
backend/shrunk/static/dist/
webpack-stats.json
dist-newstyle
.mypy_cache/
.pytest_cache/
.vscode/
frontend/.cache
frontend/docs

backend/mail