services:
  backend:
    build: ./backend
    command: python3 -m flask run --host=0.0.0.0 -p 3050
    volumes:
      - ./development.env:/usr/shrunk/backend/.env
      - ./backend:/usr/shrunk/backend
    env_file:
      - ./development.env
    depends_on:
      - mongodb
      - httpd

  frontend:
    build: ./frontend
    volumes:
      - ./development.env:/usr/shrunk/frontend/.env
      - ./frontend:/usr/shrunk/frontend
    env_file:
      - ./development.env
    depends_on:
      - httpd

  httpd:
    image: httpd:2.4
    stdin_open: true
    tty: true
    ports:
      - "4343:4343"
    volumes:
      - ./httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./httpd:/usr/local/apache2/logs

  mongodb:
    hostname: mongodb
    container_name: shrunk-mongo
    image: mongo:latest
    attach: false  # We don't care.
    ports:
      - '27017:27017'
