include README.*
include shrunk/config.py.example
exclude pip.req
recursive-include shrunk *.py *.html *.css *.png *.ico *.js
recursive-exclude shrunk config.py
recursive-exclude shrunk __pycache__ *.pyc
recursive-exclude . *~
recursive-exclude test *.py
recursive-exclude data *
recursive-exclude virtualenv *
recursive-exclude build *
recursive-exclude venv *
recursive-exclude env *
exclude *.log
exclude *pytest_cache*
recursive-exclude shrunk.egg-info *
exclude __pycache__ *.pyc

include scripts/*

