""" shrunk - Rutgers University URL Shortener

Configuration options for shrunk. This is an example file; modify this and save
it as config.py.
"""

DB_HOST = "localhost"
"""The host machine for the database.
If you're using Docker, set it to "mongodb"."""

DB_PORT = 27017
"""The database's port on the host machine."""

DB_NAME = "shrunk"
"""Should be set to shrunk-test for testing and shrunk for prod."""

GEOLITE_PATH = "/usr/share/GeoIP/GeoLite2-City.mmdb"
"""The path to the geolite geoip database."""

SECRET_KEY = "something_secret"
"""A secret key for Flask."""

SHRUNK_URL = "http://shrunk.yourdomain.com"
"""The public URL for shrunk."""

LINKSERVER_URL = "http://shru.nk"
"""The public URL for the link server."""

DUAL_SERVER = False
"""Determines whether or not the web application server doubles as the link
server. The default setting is False, which assumes that a separate server
handles the links."""

USER_WHITELIST = ["jcc", "mjw271", "peb60"]
"""These users are always permitted to login (i.e. they can't be blacklisted)
and are automatically admins."""

SSO_ATTRIBUTE_MAP = {
    "SHIB_UID_1": (True, "netid"),
    # "SHIB_UID_2": (True, "uid2"),
    "SHIB_UID_3": (True, "employeeType"),
}
"""Map SSO attributes to session keys"""

SSO_LOGIN_URL = '/login'
"""URL for local shibboleth login"""

LOG_FORMAT = "%(levelname)s %(asctime)s: %(message)s [in %(pathname)s:%(lineno)d]"
"""The format for the logger."""

LOG_FILENAME = "shrunk.log"
"""The name of the log file."""

MAX_DISPLAY_LINKS = 15
"""The maximum number of links to display per page."""

MAX_VISITS_FOR_CSV = 6000
"""The maximum number of visits to allow when generating a CSV file from search
   results. If a CSV would have more than this number of visits, an error is returned.
   This restriction does not apply to CSV files generated from a single short URL."""

BANNED_REGEXES = [r'\.xxx']

REDIRECT_CHECK_TIMEOUT = 0.5

ASSETS_AUTO_BUILD = False
"""Whether to recompile assets dynamically. This should be set to False for
production because it incurs substantial overhead."""

ASSETS_DEBUG = False
"""Should be set to True for dev and False for prod."""

SASS_BIN = '/usr/local/bin/scss'

LDAP_VALIDATE_NETIDS = True
"""Whether NetIDs should be validated against the LDAP server defined below."""

LDAP_URI = ""
"""URI of the LDAP server."""

LDAP_BIND_DN = ""
"""DN to bind to before executing the search."""

LDAP_CRED = ""
"""Password with which to bind to the LDAP server."""

LDAP_QUERY_STR = "uid={}"
"""LDAP search string. The placeholder will be replaced with the user's NetID."""

LDAP_BASE_DN = ""
"""Base DN for the search."""

DEV_LOGINS = False
"""allow you to login as certain roles for testing purposes"""

WTF_CSRF_ENABLED = True
"""add sesion csrf protection. DISABLE FOR UNIT TESTING"""

TESTING = False
"""enables some testing utilites. Namely for protecting against accidental db drops"""

RESERVED_WORDS = []
"""Words that cannot be used as shortened URLs. Names used as routes are automatically
disallowed, and do not need to be added to this list."""

REQUIRE_2FA = True
"""Whether Duo 2FA should be required."""

MAIL_BACKEND = "file"
"""Which backend to use to send mail. File will write to disk."""

MAIL_FILE_PATH = "./mail"
"""Used to configure the `file` backend. Other backends have their own config
options; see flask-mailman documentation."""

GOOGLE_SAFE_BROWSING_API = "Ask Kevin or Jack about acquiring this"
"""A secret key for Google Cloud Web Risk API"""

SECURITY_MEASURES_ON = False
"""Whether the security measures are turned on or off.
You would this to be set to True when performing unit tests
or you'll fail the security tests. However, in prod it can be whatever."""

SLACK_INTEGRATION_ENABLED = False
"""Whether the slack integration is turned on or off. This will override the value of EMAILS_ENABLED
for messages sent to the OSS team. This includes when the OSS team is notified of new pending role requests.
This does NOT include when the slack bot is fetching information from shrunk such as the number of pending 
role requests."""

SLACK_INTEGRATION_API_KEY = "test123"
"""The API key for the slack integration. This is used to authenticate requests made by the slack bot.
This key should be a lot more complex in prod."""

SLACK_BOT_TOKEN = ""
"""The Bot User OAuth Token - used to authenticate the bot with the Slack API. Typically starts with `xoxb-`."""

SLACK_SHRUNK_CHANNEL_ID=""
"""The channel ID where all shrunk-related information will be posted in. This will be limit where slash commands can be executed."""

TRACKING_PIXEL_UI_ENABLED = False
"""
Temporary flag to enable or disable the tracking pixel creation feature on user's dashboard.
"""

LINKHUB_INTEGRATION_ENABLED = False
"""
Configuration value to enable or disable dynamically generated web pages that contains URLs.
"""

ROLE_REQUESTS_ENABLED = False
"""
Configuration variable to enable or disable the ability for users to request any role. Does not disable routes.
"""

EMAILS_ENABLED = False
"""
Configuration variable to enable or disable the ability to send emails. 
For now, this is only used for role requests, but should be expanded to all email usage.
"""
