{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/link_form.css') }}" rel="stylesheet">

<div class="row">
  <div class="col">
    <h1>Shorten a URL</h1>
  </div> <!-- End col -->
</div> <!-- End row -->

{% set button_message = "SHRINK" %}
{% set is_add = True %}
{% include "link_form.html" %}

<script src="{{ url_for('static', filename='js/add.js') }}"></script>

{% endblock %}
