{% extends "base.html" %}
{% block content %}

<div hidden id="endpoints" data-endpoint-stats-endpoint="{{ url_for('stat.endpoint') }}"
  data-endpoint-geoip-endpoint="{{ url_for('stat.admin_geoip') }}"></div>

<div class="row row-controls">
  <div class="col col-auto">
    <h2>Admin Statistics</h2>
  </div>
</div>

<div class="container rows-container">
  <div class="row">
    <div class="col">
      <div id="stats-container"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include "maps_row.html" %}
    </div>
  </div>
</div>

{{ bundle('style') }}
{{ bundle('admin_stats') }}

{% endblock %}