{% extends "base.html" %}
{% block content %}
<article class="link-group clearfix">
    <div class="link-info">
        <a href="/roles/blocked_url/" class="title">Block URLs</a>
    </div>
    <div class="bottom-row">
        Block and unblock URLs from being shortened.
    </div>
</article>
<article class="link-group clearfix">
    <div class="link-info">
        <a href="/roles/blacklisted" class="title">Blacklist Users</a>
    </div>
    <div class="bottom-row">
        Add and remove banned NetIDs from the banlist.
    </div>
</article>
<article class="link-group clearfix">
    <div class="link-info">
        <a href="/roles/admin" class="title">Manage Administrators</a>
    </div>
    <div class="bottom-row">
        Grant and revoke administrator privileges.
    </div>
</article>
<article class="link-group clearfix">
    <div class="link-info">
        <a href="/roles/power_user" class="title">Manage Administrators</a>
    </div>
    <div class="bottom-row">
        Grant and revoke administrator privileges.
    </div>
</article>
{% endblock %}
