{% macro admin_row(href, title) %}
<div class="row">
  <div class="col">
    <h3><a href="{{ href }}" class="title">{{ title }}</a></h3>
  </div>
</div>
{% endmacro %}

{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col">
    <h2>Administrator Controls</h2>
    <dl>
      <dt class="bold no-colon">Statistics</dt>

      <dt>Links</dt>
      <dd>{{ stats['links'] }}</dd>

      <dt>Visits</dt>
      <dd>{{ stats['visits'] }}</dd>

      <dt>Users</dt>
      <dd>{{ stats['users'] }}</dd>
    </dl>
  </div>
</div>

<div class="container rows-container">
  {{ admin_row(url_for('stat.admin'), 'Admin statistics') }}

  {% for role in roledata %}
  {{ admin_row(url_for('roles.list', role=role['id']), role['title']) }}
  {% endfor %}
</div>

{{ bundle('admin') }}

{% endblock %}