<!DOCTYPE html>
<html lang="en" data-csrf-token="{{ csrf_token() }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Go &mdash; Rutgers University URL Shortener</title>

  <!-- External CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  <!-- Favicon -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/ico">

  <!-- Fontawesome JS -->
  <script src="https://kit.fontawesome.com/5118e53443.js"></script>
</head>

<body>
  <header>
    {% include "navbar.html" %}
  </header>

  <main role="main" class="container main-container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted">
        &copy; 2020 &mdash; Rutgers, The State University of New Jersey &mdash; Questions? Bugs? Contact us: <a
          href="mailto:oss@oss.rutgers.edu">oss@oss.rutgers.edu</a>
      </span>
    </div>
  </footer>

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
</body>

</html>