{% extends "base.html" %}
{% block header %}
<style> .show-login {display: none;}</style>
{{ super() }}
{% endblock %}
{% block content %}
<div class="login-box col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="dev-login-box">
        <form class="dev-login-btn" action="{{ shib_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">Login with CAS</button>
        </form>

        <form class="dev-login-btn" action="{{ dev_user_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevUser Login</button>
        </form>

        <form class="dev-login-btn" action="{{ dev_admin_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevAdmin Login</button>
        </form>

        <form class="dev-login-btn" action="{{ dev_power_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevPowerUser Login</button>
        </form>
    </div>
</div>
{% endblock %}
