{% extends "base.html" %}
{% block content %}
<h1>Edit URL</h1>
<article class="add-group clearfix">
    <form method="POST" action="{{ url_for('edit_link') }}" name="link_form"
	  class="container" novalidate="novalidate">
	<div class="item">
	    <label for="title">Title</label>
	    {% if errors %}
	    {% if errors["title"] %}
	    <span class="error">{{ errors["title"][0] }}</span>
	    {% endif %}
	    {% endif %}
	    <input type="text" class="form-control" id="title" name="title"
		   value="{{ title }}" placeholder="Link Title">
	</div>
	<div class="item">
	    <label for="long_url">URL</label>
	    {% if errors %}
	    {% if errors["long_url"] %}
	    <span class="error">{{ errors["long_url"][0] }}</span>
	    {% endif %}
	    {% endif %}
	    <input type="url" class="form-control" id="long_url" name="long_url"
		   value="{{ long_url }}" placeholder="URL">
	</div>
	{% if "admin" in roles or "power_user" in roles %}
	<div class="item">
	    <label for="short_url">Optional Alias</label>
	    {% if errors %}
	    {% if errors["short_url"] %}
	    <span class="error">{{ errors["short_url"][0] }}</span>
	    {% endif %}
	    {% endif %}
	    <input type="text" class="form-control" id="short_url" name="short_url"
		   value="{{ old_short_url }}" placeholder="Custom URL Name">
	</div>
	{% endif %}
	<div class="info">
	    <input type="hidden" id="netid" name="netid" value="{{ netid }}">
	    <input type="hidden" id="old_short_url" name="old_short_url" value="{{ old_short_url }}">
	</div>
	<button type="submit" class="shrink-button btn btn-default">EDIT</button>
    </form>
</article>
{% endblock %}
