{% extends "base.html" %}
{% block content %}
<div class="links-box col-xs-12 col-sm-8 col-sm-offset-1">
    {% if errors %}
    <div class="shrunk-messages">
        Uh oh:
        <ul>
        {% for error in errors %}
            {% for suberror in errors[error] %}
                <li> {{ suberror }} </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <article class="link-group clearfix">
        <form method="POST" action="{{ url_for('edit_link') }}" name="link_form" class="add-link">
            <!-- TODO : Something like "Editing XYZ link" or something -->
            <div class="title">
                <input type="title" class="form-control" id="title" name="title" value="{{ title }}" placeholder="Link Title">
            </div>
            <div class="url">
                <input type="url" class="form-control" id="long_url" name="long_url" value="{{ long_url }}" placeholder="URL">
            </div>
            <div class="info">
                <input type="hidden" id="netid" name="netid" value="{{ netid }}">
                <input type="hidden" id="short_url" name="short_url" value="{{ short_url }}">
            </div>
            <button type="submit" class="login-button btn btn-default">Edit URL</button>
        </form>
    </article>
</div>
{% endblock %}
