{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col col-md-auto">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="container rows-container">
  <div class="row">
    <div class="col">
      <h4>What is Go?</h4>
      <p>Go is the official URL shortener of Rutgers University.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Who has access to Go?</h4>
      <p>All current Rutgers University faculty and staff members are able
        to log into <a href="https://go.rutgers.edu/">go.rutgers.edu</a> with
        their NetID and password. Undergraduate student workers can be granted
        access to Go by a faculty or staff members.</p>
    </div>
  </div>

  <div id="power_user" class="row">
    <div class="col">
      <h4>Can I choose the URL my link will be shortened to?</h4>
      <p>To create a custom short URL, you must have the "power user" role.
        This role is available only to faculty and staff members. To request to
        be added to this role, please email
        <a href="mailto:oss@oss.rutgers.edu">oss@oss.rutgers.edu</a>.
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>How can I grant an undergraduate student worker access to Go?</h4>
      <p>To grant access to an undergraduate user, click the
        <a href="{{ url_for('roles.list', role='whitelisted') }}">Whitelist</a>
        tab in the navigation bar, then enter the user's NetID and the
        reason the user needs access to Go. Undergraduate users should only use Go for
        purposes related to their employment with the University.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>What is the organizations feature?</h4>
      <p>The organizations feature allows a group of users to view each other's links.
        For example, users working together on a project may want to be able to see
        each other's links.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>How can I use the organizations feature?</h4>
      <p>To create a new organization, navigate to the
        <a href="{{ url_for('orgs.list') }}">Organizations</a>
        page and click the "Create an Organization" button. You will automatically be made
        an administrator of the newly created organization. Once the organization has been
        created, you may navigate to its management page and use the "Add a Member" button
        to add members to the organization.</p>

      <p>To view the links created by members of an organization,
        click the "My Links" dropdown next to the search bar, and
        select the organization whose links you would like to view.</p>
    </div>
  </div>
</div>

{{ bundle('faq') }}

{% endblock %}