<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-red">

  <!-- Rutgers logo -->
  <a id="rutgers-logo" class="navbar-brand" href="#">
    <img alt="Rutgers"
	 src="{{ url_for('static', filename='img/RU_LOGOTYPE_REVWHITE.png') }}"
	 width="175px">
  </a>

  <!-- We only want to display navbar items when the user is logged in. -->
  {% if netid %}
  <!-- Main nav items -->
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li class="nav-item">
	<a class="nav-link" href="{{ url_for('render_index') }}">My URLs</a>
      </li>

      <li class="nav-item">
	<a class="nav-link" href="/add">Shorten a URL</a>
      </li>

      <li class="nav-item">
	<a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
      </li>

      {% if "admin" in roles %}
      <li class="nav-item">
	<a class="nav-link" href="/admin/">Admin</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <!-- Search box -->
  <form class="form-inline">
    <input type="hidden" name="all_users" value="{{ all_users }}">
    <input type="hidden" name="sortby" value="{{ sortby }}">
    <div class="input-group">
      <input type="search" name="search" aria-label="Search"
	     class="form-control" placeholder="Search" value="{{ query }}">
      <div class="input-group-append">
	<button type="submit" id="submit-search" class="btn btn-outline-secondary">
	  <i class="fas fa-search"></i>
	</button>
      </div>
    </div>
  </form>
  
  <!-- Username and logout -->
  <div class="nav-item dropdown px-2">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
	    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ netid }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" area-labelledby="netidDropdown">
      <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
    </div>
  </div>
  {% endif %}
</nav>

