<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-red">

  <!-- Rutgers logo -->
  <a id="rutgers-logo" class="navbar-brand" href="#">
    <img alt="Rutgers"
	 src="{{ url_for('static', filename='img/RU_LOGOTYPE_REVWHITE.png') }}"
	 width="175px">
  </a>

  <!-- We only want to display navbar items when the user is logged in. -->
  {% if netid %}
  <!-- Search box -->
  <form class="form-inline">
    <input type="hidden" name="all_users" value="{{ all_users }}">
    <input type="hidden" name="sortby" value="{{ sortby }}">
    <div class="input-group">
      <input type="search" name="search" aria-label="Search"
	     class="form-control input-large" placeholder="Search" value="{{ query }}">
      <div class="input-group-append">
	<button type="submit" id="submit-search" class="btn btn-outline-secondary">
	  <i class="fas fa-search"></i>
	</button>
      </div>
    </div>
  </form>

  <!-- Main nav items -->
  <div class="collapse navbar-collapse">
    <form action="/" method="get">
      <input type="hidden" name="all_users" value="{{ all_users }}">
      <input type="hidden" name="sortby" value="{{ sortby }}">
      <input type="hidden" name="search" value="{{ query }}">
      <button type="submit" class="btn btn-outline-secondary btn-no-border btn-nav">
	My URLs
      </button>
    </form>

    {% if ("facstaff" in roles or "power_user" in roles) and "admin" not in roles %}
    <form action="/roles/whitelisted" method="get">
      <button type="submit" class="btn btn-outline-secondary btn-no-border">
	Whitelist
      </button>
    </form>
    {% endif %}

    {% if "admin" in roles %}
    <form action="/admin" method="get">
      <button type="submit" class="btn btn-outline-secondary btn-no-border">
	Admin
      </button>
    </form>
    {% endif %}

    <form action="/faq" method="get">
      <button type="submit" class="btn btn-outline-secondary btn-no-border">
	FAQ
      </button>
    </form>
  </div>
  
  <!-- Username and logout -->
  <div class="nav-item dropdown px-2">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
	    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ netid }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" area-labelledby="netidDropdown">
      <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
    </div>
  </div>
  {% endif %}
</nav>

