<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shrunk</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shrunk.css') }}">
<!--     <link rel="stylesheet" href="../static/css/shrunk.css">
 -->    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/shrunk.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('render_index') }}">
                  <img alt="Rutgers" src="{{ url_for('static', filename='img/RU_LOGOTYPE_REVWHITE.png') }}" width="175px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="navbar-subtitle nav navbar-nav">
            <li><a style="color:white">URL Shortener</a></li>
          </ul>
          <form class="nav navbar-nav search-bar navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for a link">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="tool-box col-xs-12 col-sm-2">
            <div class="container">
            {% if current_user.netid %}
                <div class="netID">
                    {{ current_user.netid }}
                </div>
                                <div class="add-link">
                    <a href="{{ url_for('add_link') }}">Add a Link</a>
                                </div>
				<div class="log-out">
					<a href="{{ url_for('logout') }}">Log Out</a>
				</div>
                {% if admin %}
                    <label>Display All <input id="display-alll" type="checkbox" onclick='toggleLinks(this, "{{ netid }}");' checked></label>
                {% endif %}
			{% else %}
				<div class="log-out">
					<a href="{{ url_for('login') }}">Log In</a>
				</div>
			{% endif %}
			</div>
		</div>

		<div class="links-box col-xs-12 col-sm-8 col-sm-offset-1">
			{% if query %}
			<div class="shrunk-errors">
				{% if links %}
					Showing results for: <strong>{{ query }}</strong>
				{% else %}
					No results found for: <strong>{{ query }}</strong>
				{% endif %}
			</div>
			{% endif %}
			{% if new_url %}
			<div class="shrunk-errors">
				Added successfully!
			</div>
			{% endif %}
			{% for link in links %}
				<article class="link-group clearfix">
					<div class="link-info">
						<a href="{{ link['url'] }}" class="title">
							{% if link['title'] %}
								{{ link['title'] }}
							{% else %}
								{{ link['_id'] }}
							{% endif %}
						</a>
						<div class="short-link">
							<a href="{{ linkserver_url }}/{{ link['_id'] }}">{{ linkserver_url }}/{{ link['_id'] }}</a>
						</div>
                        {% if admin %}
                        <div class="owner" netid="{{ link['netid'] }}">
                            Owner: {{ link['netid'] }}
                        </div>
                        {% endif %}
						<div class="date">
							{{ formattime(link['timeCreated']) }}
						</div>
						<div class="bottom-row">
							Views: {{ link['visits'] }}
						</div>
					</div>
					<div class="hover-controls">
						<a onClick="delete_link('{{ link['_id'] }}')">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
					</div>
				</article>
			{% else %}
				{% if not query %}
				<article class="link-group clearfix">
					<a href="#" class="title">
						shRUnk
					</a>
					<div class="bottom-row">
						The official Rutgers University URL shortener. Click on 'add a link' to start adding links.
					</div>
				</article>
				{% endif %}
			{% endfor %}

        <article class="pagination clearfix">
          <nav>
            <ul class="pager">
              <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
              <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </article>

        <article class="clearfix footer">
            <div class="container">
                © 2015 - Rutgers, The State University of New Jersey - Questions? Bugs? Contact us: oss@oss.rutgers.edu
            </div>
        </article>
		</div>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='shrunk.js') }}"></script>
  </body>
</html>
