<html>
<body>
<div class="row">
	<div class="large-12 column">
		<h2>{{ action_header }}</h2>
	</div>
</div>
<div class="row">
	<div class="large-6 column">
		<form method="POST" action="{{ url_for(action) }}" name="link_form">
		    <label for="long_url">URL:</label>
		    <input type="text" name="long_url" id="long_url" value="{{ url }}" />

		    <label for="title">Title:</label>
		    <input type="text" name="title" id="title" value="{{ title }}"/>

		    <input type="hidden" name="netid" id="netid" value="{{ netid }}" />

		    <button type="submit">Shrink!</button>
		</form>
	</div>
</div>
</body>
</html>
