<div class="row">
  <div class="col">
    <div class="card bg-light card-link">
      <div class="card-block">
	<div class="row">

	  <div class="col col-link-info">
	    <nobr class="link-info">
	      {% if link["title"] %}
	        {% if link["title"] | length > 32 %}
	        {% set link_name = link["title"][:32] + "..." %}
	        {% else %}
	        {% set link_name = link["title"] %}
	        {% endif %}
	      {% else %}
	        {% set link_name = link["_id"] %}
	      {% endif %}

	      {% set full_link_name = link["title"] if link["title"] else link["_id"] %}

	      <a href="{{ link['long_url'] }}" class="shrunk-title"
		 title="{{ full_link_name }}">{{ link_name }}</a>
	      {% set formatted_time = formattime(link["timeCreated"]) %}
	      <span title="{{ formatted_time }}">{{ formatted_time }}</span>
	      {% set formatted_visits = "Visits: " + (link["visits"] | string) %}
	      <span title="{{ formatted_visits }}">{{ formatted_visits }}</span>
	      {% set formatted_owner = "Owner: " + link["netid"] %}
	      <span title="{{ formatted_owner }}">{{ formatted_owner }}</span>
	    </nobr>

	    <br/>

	    <nobr>
	      {% set short_url = linkserver_url + '/' + link['_id'] %}
	      <a href="{{ short_url }}">{{ short_url }}</a>
	      &#8594; <!-- right arrow -->
	      <span class="shrunk-long-url" title="{{ link['long_url'] }}">
		{{ link['long_url'] }}
	      </span>
	    </nobr>
	  </div> <!-- End col -->

	  <!-- For some reason, these buttons show up in the opposite 
	       order that they're listed in the HTML. -->

	  <div class="col-3 align-self-center">
	    <form action="delete" method="post">
	      <input type="hidden" name="short_url" value="{{ link['_id'] }}">
	      <button type="submit" title="Delete link"
		      class="btn btn-outline-danger btn-no-border btn-round float-right">
		<i class="fas fa-trash"></i>
	      </button>
	    </form>

	    <form action="/qr" method="get">
	      <input type="hidden" name="url" value="{{ link['_id'] }}">
	      <button type="submit" title="Create QR code"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-qrcode"></i>
	      </button>
	    </form>

	    <form action="/stats" method="get">
	      <input type="hidden" name="url" value="{{ link['_id'] }}">
	      <button type="submit" title="Link visit statistics"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-chart-line"></i>
	      </button>
	    </form>

	    <form action="/edit" method="get">
	      <input type="hidden" name="url" value="{{ link['_id'] }}">
	      <button type="submit" title="Edit link"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-pencil-alt"></i>
	      </button>
	    </form>
	  </div> <!-- End col -->

	</div> <!-- End row -->
      </div> <!-- End card-block -->
    </div> <!-- End card -->
  </div> <!-- End col -->
</div> <!-- End row -->
