{% extends "base.html"%}
{% block header %}
<style> .show-login {display: none;}</style>
{{ super() }}
{% endblock %}
{% block content %}
<div class="login-box col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="message" id="go-url">
        <font size="36" color="#cc0e32">go.rutgers.edu</font>
    </div>

    <div class="message">
        <font size="3">The official Rutgers URL shortener</font>
    </div>

    <div class="message">
        <font size="4">You will need to be a Rutgers faculty or staff member to access this site.</font>
    </div>
    <div class="dev-login-box col-sm-4 col-sm-offset-4">
	<form class="dev-login-btn" action="{{ shib_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">Login with CAS</button>
	</form>

    {% if dev %}
	<form class="dev-login-btn" action="{{ dev_user_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevUser Login</button>
	</form>

	<form class="dev-login-btn" action="{{ dev_facstaff_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevFacstaff Login</button>
	</form>

	<form class="dev-login-btn" action="{{ dev_power_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevPowerUser Login</button>
	</form>

	<form class="dev-login-btn" action="{{ dev_admin_login }}" method="get">
            <button type="submit" class="login-button btn btn-default">DevAdmin Login</button>
	</form>
    {% endif %}
    </div>
</div>
{% endblock %}
