{% from "member_row.html" import member_row with context %}
{% extends "base.html" %}
{% block content %}

<div hidden id="endpoints" data-org-name="{{ name }}" data-netid="{{ netid }}"
  data-remove-admin="{{ url_for('orgs.remove_admin') }}" data-grant-admin="{{ url_for('orgs.grant_admin') }}"></div>

<div class="row row-controls">
  <div class="col-auto">
    <h2>Manage organization <em>{{ name }}</em></h2>
  </div>

  <div class="col-auto mr-auto">
    <div id="add-member-dropdown" class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-circle"></i> Add a Member
      </button>
      <div class="dropdown-menu create-org-dropdown">
        <form class="px-4 py-3 needs-validation ajax-form" data-ajax-endpoint="{{ url_for('orgs.add_member') }}"
          novalidate>
          <input type="hidden" name="name" value="{{ name }}">
          <div class="input-group">
            <input type="text" name="netid" class="form-control" placeholder="NetID">
            <input hidden type="text">

            {% if user_is_admin %}
            <div class="input-group-append">
              <div class="input-group-text">
                Admin?
                &nbsp;
                <input type="checkbox" name="is_admin" aria-label="Should the new member be an administrator?">
              </div>
            </div>
            {% endif %}

            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Add
              </button>
            </div>

            <div id="member-add-netid-feedback" class="invalid-feedback"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if user_is_admin %}
  <div class="col-auto">
    <button class="btn btn-outline-primary btn-no-border btn-no-background bg-light delete-button" type="button">
      <i class="fas fa-trash"></i> Delete Organization
    </button>
  </div>
  {% endif %}

  {% if user_is_member %}
  <div class="col-auto">
    <button class="btn btn-outline-primary btn-no-border btn-no-background bg-light remove-self-button" type="button">
      <i class="fas fa-times"></i> Leave Organization
    </button>
  </div>
  {% endif %}

  <div class="col-auto">
    <a href="{{ url_for('orgs.stats', name=name) }}"
      class="btn btn-outline-primary btn-no-border btn-no-background bg-light">
      <i class="fas fa-chart-line"></i> Statistics
    </a>
  </div>
</div>

<div class="container rows-container">
  {% for member in members %}
  {{ member_row(name, member) }}
  {% else %}
  <div class="row">
    <div class="col">
      <h4>This organization currently has no members.</h4>
    </div>
  </div>
  {% endfor %}
</div>

<div id="revoke-admin-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Operation failed</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <span style="color: red;">Cannot remove last administrator.</span>
        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div id="member-remove-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="delete-member-header">Are you sure you want to remove this member?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <span id="delete-member-message">This operation cannot be undone.</span>

        <form class="ajax-form" data-ajax-endpoint="{{ url_for('orgs.remove_member') }}">
          <input type="hidden" name="name" value="{{ name }}">
          <input type="hidden" id="delete-member-netid" name="netid" value="">
          <div class="invalid-feedback"></div>

          <button type="button" class="btn btn-primary float-right">
            Delete
          </button>
        </form>

        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{% include "delete_org_modal.html" %}

{{ bundle('manage_org') }}

{% endblock %}