<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
	{% if netid %} {# logged-in navbar #}
	<a id="rutgers-logo" class="navbar-brand" href="{{ url_for('shrunk.render_index') }}">
		<img alt="Rutgers" src="{{ url_for('static', filename='img/RU_LOGOTYPE_REVWHITE.png') }}" width="175px">
	</a>

	{# Search box #}
	<form class="form-inline mr-auto" action="{{ url_for('shrunk.render_index') }}" method="GET">
		<div class="input-group">
			<input type="search" name="query" aria-label="Search" class="form-control" placeholder="Search"
				value="{{ query if query else '' }}">
			<div class="input-group-append dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					{{ selected_links_set }}
				</button>
				<div class="dropdown-menu">
					{% if show_expired_links %}
					<a class="dropdown-item" href="?show_expired_links=false">
						Hide expired links
					</a>
					{% else %}
					<a class="dropdown-item" href="?show_expired_links=true">
						Show expired links
					</a>
					{% endif %}

					<div class="dropdown-divider"></div>

					<a class="dropdown-item" href="?links_set=GO!my">
						My links
					</a>

					{% if "admin" in roles %}
					<a class="dropdown-item" href="?links_set=GO!all">
						All links
					</a>
					{% endif %}

					{% if orgs %}
					<div class="dropdown-divider"></div>
					{% for org in orgs %}
					<a class="dropdown-item" href="?links_set={{ org['name'] }}">
						{{ org['name'] }}
					</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="input-group-append dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					{{ SORTBY_MAP[sortby] }}
				</button>
				<div class="dropdown-menu">
					{% for (key, name) in SORTBY_MAP.items() %}
					<a class="dropdown-item" href="?sortby={{ key }}">{{ name }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="input-group-append">
				<button type="submit" id="submit-search" class="btn btn-outline-secondary">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
	</form>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar-collapse">
		<div class="navbar-nav ml-auto">
			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item"
				href="{{ url_for('shrunk.render_index') }}">
				Dashboard
			</a>

			{% if ("facstaff" in roles or "power_user" in roles) and "admin" not in roles %}
			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item"
				href="{{ url_for('roles.list', role='whitelisted') }}">
				Whitelist
			</a>
			{% endif %}

			{% if "admin" in roles %}
			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item"
				href="{{ url_for('shrunk.admin_panel') }}">
				Admin
			</a>
			{% endif %}

			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item"
				href="{{ url_for('orgs.list') }}">
				Organizations
			</a>

			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item"
				href="{{ url_for('shrunk.faq') }}">
				FAQ
			</a>

			{# The log-out button is a dropdown normally and a button when collapsed #}

			{# Dropdown version #}
			<div class="dropdown d-none d-lg-inline" id="netid-dropdown">
				<button class="btn btn-outline-secondary nav-item dropdown-toggle" type="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					{{ netid }}
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="{{ url_for('shrunk.logout') }}">Logout</a>
				</div>
			</div>

			{# Button version #}
			<a tabindex="0" role="button" class="btn btn-outline-secondary btn-no-border nav-item d-inline d-lg-none"
				href="{{ url_for('shrunk.logout') }}">
				Logout
			</a>
		</div>
	</div>
	{% else %} {# logged-out navbar #}
	<a id="rutgers-logo" class="navbar-brand" href="{{ url_for('shrunk.render_index') }}">
		<img alt="Rutgers" src="{{ url_for('static', filename='img/RU_LOGOTYPE_REVWHITE.png') }}" width="175px">
	</a>
	{% endif %}
</nav>