{% extends "base.html" %}
{% block content %}

<div hidden id="endpoints" data-stats-json-endpoint="{{ url_for('orgs.stats_json', name=name) }}" ,
  data-geoip-endpoint="{{ url_for('orgs.stats_geoip', name=name) }}"></div>

<div class="row row-controls">
  <div class="col col-auto">
    <h2>Statistics for organization <em>{{ name }}</em></h2>
  </div>

  <div class="col text-right">
    <a class="btn btn-outline-primary btn-no-border btn-no-background bg-light"
      href="{{ url_for('orgs.manage', name=name) }}">
      <i class="fas fa-tools"></i> Manage organization
    </a>
  </div>
</div>

<div class="container rows-container">
  <div class="row">
    <div class="col">
      <div id="member-stats-container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include "maps_row.html" %}
    </div>
  </div>
</div>

{{ bundle('style') }}
{{ bundle('org_stats') }}

{% endblock %}