{% from "org_row.html" import org_row with context %}
{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col col-md-auto">
    <h2>Organizations</h2>
  </div>

  {% if "facstaff" in roles or "admin" in roles %}
  <div class="col-auto">
    <div class="dropdown" id="create-org-dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-circle"></i> Create an Organization
      </button>

      <div class="dropdown-menu create-org-dropdown">
        <form class="px-4 py-3 needs-validation ajax-form" data-ajax-endpoint="{{ url_for('orgs.create') }}" novalidate>
          <div class="input-group">
            <input type="text" class="form-control" name="name" placeholder="Organization Name" required="true"
              data-invalid-feedback="#create-org-name-feedback">
            <input hidden type="text">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Create
              </button>
            </div>
            <div class="invalid-feedback" id="create-org-name-feedback"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="container rows-container">
  {% for org in list_orgs %}
  {{ org_row(org, is_org_admin=org in admin_orgs, is_org_member=org in member_orgs) }}
  {% else %}
  <div class="row">
    <div class="col">
      <h2>You are not currently a member of any organizations.</h2>
    </div>
  </div>
  {% endfor %}
</div>

{% include "delete_org_modal.html" %}

{{ bundle('orgs') }}

{% endblock %}