<div class="row">
  <div class="col">
    <div class="card card-shrunk">
      <div class="card-block">
	<div class="row">

	  <div class="col col-shrunk-info">
	    <h4>{{ grant["entity"] }}</h4>
	    <em>{{ granted_by }}:</em> {{ grant["granted_by"] }}<br />
	    {% if grant.get("comment") %}
	    <span title="{{ grant['comment'] }}">
	      <em>Comment:</em> {{ grant["comment"] }}
	    </span>
	    {% endif %}
	  </div>

	  <div class="col-3 align-self-center">
	    <form action="/roles/{{ role }}/revoke" method="post">
	      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	      <input type="hidden" name="entity" value="{{ grant['entity'] }}">
	      <button type="submit" class="btn btn-primary float-right">
		{{ revoke_button }}
	      </button>
	    </form>
	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
