{% macro role_row(grant) %}
<div class="row">
  <div class="col-info">
    <div class="row align-items-end flex-nowrap">
      <div class="col-remaining ellipsize">
        <span class="row-title" title="{{ grant['entity'] }}">{{ grant['entity'] }}</span>
      </div>

      <div class="col-auto col-prop">
        <dl>
          <dt>{{ granted_by }}</dt>
          <dd>{{ grant['granted_by'] }}</dd>
        </dl>
      </div>
    </div>

    {% if grant.get('comment') %}
    <div class="row">
      <div class="col col-auto">
        <dl>
          <dt>Comment</dt>
          <dd>{{ grant['comment'] }}</dd>
        </dl>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col-buttons">
    <form action="{{ url_for('roles.revoke', role=role) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="entity" value="{{ grant['entity'] }}">
      <button type="submit" class="btn btn-outline-primary">
        {{ revoke_button }}
      </button>
    </form>
  </div>
</div>
{% endmacro %}