{% from "role_row.html" import role_row with context %}
{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col">
    <h2>{{ title }}</h2>
  </div>

  <div class="col col-auto">

  </div>
</div>

{% if msg %}
<div class="row">
  <div class="col">
    <h3>{{ msg }}</h3>
  </div>
</div>
{% endif %}

{% if error %}
<div class="row">
  <div class="col error">
    {{ error }}
  </div>
</div>
{% endif %}

<div class="container rows-container">
  {# The grant role box #}
  <div class="row">
    <div class="col">
      <form action="{{ url_for('roles.grant', role=role) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        {% if allow_comment %}
        <h3>Comment:</h3>
        <textarea name="comment" rows="5" cols="33" required class="form-control comment"
          placeholder="{{ comment_prompt }}"></textarea>
        {% endif %}

        <div class="input-group">
          <input name="entity" type="text" aria-label="Grantee" class="form-control input-large"
            placeholder="{{ grantee_text }}">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              {{ grant_button }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% for grant in grants %}
  {{ role_row(grant) }}
  {% else %}
  <div class="row revoke-title-row">
    <div class="col">
      <h3>{{ empty }}</h3>
    </div>
  </div>
  {% endfor %}
</div>

{{ bundle('role') }}

{% endblock %}