<div class="sidebar">
    <div class="menu-item">
        <h2>{{ current_user.netid }}</h2>
        {% if admin %}
            <hr />
            <em>Administrator Controls</em> <br />

            {% if all_users == "1" %}
                <a href="/?all_users=0">
                    DISPLAY MY LINKS ▶
                </a>
            {% elif all_users == "0" %}
                <a href="/?all_users=1">
                    DISPLAY ALL LINKS ▶
                </a>
            {% endif %}

            <div class="menu-item">
                <a href="/admin/links" class="title">BLOCK URLS ▶</a>
            </div>
            <div class="menu-item">
                <a href="/admin/blacklist" class="title">BLACKLIST USERS ▶</a>
            </div>
            <div class="menu-item">
                <a href="/admin/manage" class="title">MANAGE USERS ▶</a>
            </div>
        {% endif %}
    </div>
    <hr />
    <div class="menu-item">
        <a href="{{ url_for('render_index') }}">MANAGE URLS ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('add_link') }}">SHORTEN URL ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('logout') }}">LOG OUT ▶</a>
    </div>
    <hr />
    <div class="menu-item">
        SORT BY ▶ <br />
        <select id="sortby" onchange="sortby();">
            <option {% if sortby == "0" %} selected {% endif %}>Newest first</option>
            <option {% if sortby == "1" %} selected {% endif %}>Oldest first</option>
            <option {% if sortby == "2" %} selected {% endif %}>A-Z</option>
            <option {% if sortby == "3" %} selected {% endif %}>Z-A</option>
        </select>
    </div>
    <form class="search-bar" role="search" method="GET" action="/">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="search-btn btn"><span class="glyphicon glyphicon-search"></button>
    </form>
</div>
