<div class="sidebar">
    <div class="menu-item">
        <h2>{{ current_user.netid }}</h2>
        {% if admin %}
            <em>Administrator</em>
        {% endif %}
    </div>
    <hr />
    <div class="menu-item">
        <a href="{{ url_for('render_index') }}">MANAGE URLS ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('add_link') }}">SHORTEN URL ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('logout') }}">LOG OUT ▶</a>
    </div>
    <hr />
    <div class="menu-item">
        SORT BY ▶ <br />
        <select id="sortby" onchange="sortby();">
            <option {% if sortby == "0" %} selected {% endif %}>Newest first</option>
            <option {% if sortby == "1" %} selected {% endif %}>Oldest first</option>
            <option {% if sortby == "2" %} selected {% endif %}>Alphabetical order</option>
            <option {% if sortby == "3" %} selected {% endif %}>Reverse alphabetical</option>
        </select>
    </div>
    {% if admin %}
    <br />
    <div class="menu-item">
        DISPLAY LINKS ▶ <br />
        <select id="display-all" onchange="display_all();">
            <option value="all-users" {% if all_users == "1" %} selected {% endif %}>
                All users
            </option>
            <option value="user-only" {% if all_users == "0" %} selected {% endif %}>
                Only {{ current_user.netid }}
            </option>
        </select>
    </div>
    {% endif %}
    <hr />
    <form class="search-bar" role="search" method="GET" action="/">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="search-btn btn"><span class="glyphicon glyphicon-search"></button>
    </form>
</div>
