<div class="sidebar">
    <div class="menu-item">
        <h2>{{ current_user.netid }}</h2>
        {% if admin %}
            <em>Administrator</em>
        {% endif %}
    </div>
    <hr />
    <div class="menu-item">
        <a href="{{ url_for('render_index') }}">MANAGE URLS ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('add_link') }}">SHORTEN URL ▶</a>
    </div>
    <div class="menu-item">
        <a href="{{ url_for('logout') }}">LOG OUT ▶</a>
    </div>
    <hr />
    <div class="menu-item">
        SORT BY ▶ <br />
        <select name="sortby">
            <option value="time-desc">Newest first</option>
            <option value="time-asc">Oldest first</option>
            <option value="alph-asc">Alphabetical order</option>
            <option value="alph-desc">Reverse alphabetical</option>
        </select>
    </div>
    {% if admin %}
    <br />
    <div class="menu-item">
        DISPLAY LINKS ▶ <br />
        <select id="display-all" onchange="display_all();">
            <option value="all-users">All users</option>
            <option value="user-only">Only {{ current_user.netid }}</option>
        </select>
    </div>
    {% endif %}
    <hr />
    <form class="search-bar" role="search" method="GET" action="/">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="search-btn btn"><span class="glyphicon glyphicon-search"></button>
    </form>
</div>
