.navbar {
	background-color: #D42342;
	height: 70px;
	color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand a {
	color: white;
}

body {
	padding-top: 70px;
}

.container {

}

.sidebar,
.links-box {
	margin-top: 35px;
}

.link-group {
	padding-bottom: 35px;
	min-height: 100px;
	margin-bottom: 35px;
	border-bottom: 1px solid rgb(211,211,211);
	font-size: 18px;
}

.link-group .title {
	font-size: 24px;
}

.link-group .short-link {
	color: rgb(211,211,211);
}