{% extends "base.html" %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<input type="hidden" id="org_name" value="{{ name }}">
<input type="hidden" id="netid" value="{{ netid }}">

<div class="row row-controls">
  <div class="col col-auto">
    <h2>Endpoint Statistics</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="endpoint_stats_container" style="min-width 310px; height: 800px; margin: 0 auto"></div>
  </div>
</div>

{% assets "shrunk_endpoint_stats" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
