<div class="row">
  <div class="col">
    <div class="card card-shrunk">
      <div class="card-block">
	<div class="row">

	  <div class="col col-shrunk-info">
	    <nobr class="shrunk-info">
	      {% if link["title"] %}
	        {% if link["title"] | length > 32 %}
	        {% set link_name = link["title"][:32] + "..." %}
	        {% else %}
	        {% set link_name = link["title"] %}
	        {% endif %}
	      {% else %}
	        {% set link_name = link["short_url"] %}
	      {% endif %}

	      {% set full_link_name = link["title"] if link["title"] else link["short_url"] %}

	      <span class="shrunk-card-name" title="{{ full_link_name }}">{{ link_name }}</span>
	      {% set formatted_time = "Created: " + formattime(link["timeCreated"]) %}
	      <span title="{{ formatted_time }}">{{ formatted_time }}</span>
	      {% set formatted_visits = "Visits: " + (link["visits"] | string) %}
	      <span title="{{ formatted_visits }}">{{ formatted_visits }}</span>
	      {% set formatted_owner = "Owner: " + link["netid"] %}
	      <span title="{{ formatted_owner }}">{{ formatted_owner }}</span>
	    </nobr>

	    <br/>

	    <nobr>
	      <button type="button" class="btn btn-outline-dark btn-no-border"
		      onclick="copy_short_url(event)"
		      title="Copy short URL to clipboard">
		<i class="fas fa-copy"></i>
	      </button>
	      {% set short_url = linkserver_url + '/' + link['short_url'] %}
	      <a class="short-url" href="{{ short_url }}">{{ short_url }}</a>
	      &#8594; {# right arrow #}
	      <a class="shrunk-long-url" href="{{ link['long_url'] }}">{{ link['long_url'] }}</a>
	    </nobr>
	  </div>

	  <div class="col-3 align-self-center">
	    {% if netid == link['netid'] or 'admin' in roles %}
	    <form>
	      <input type="hidden" class="link-id" value="{{ link['short_url'] }}">
	      <button type="button" title="Delete link" onclick="delete_link(event)"
		      class="btn btn-outline-danger btn-no-border btn-round float-right">
		<i class="fas fa-trash"></i>
	      </button>
	    </form>
	    {% endif %}

	    <form action="/qr" method="get">
	      <input type="hidden" name="url" value="{{ link['short_url'] }}">
	      <button type="submit" title="Create QR code"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-qrcode"></i>
	      </button>
	    </form>

	    <form action="/stats" method="get">
	      <input type="hidden" name="url" value="{{ link['short_url'] }}">
	      <button type="submit" title="Link visit statistics"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-chart-line"></i>
	      </button>
	    </form>

	    {% if netid == link['netid'] or 'admin' in roles %}
	    <form>
	      <input type="hidden" class="link-id" value="{{ link['short_url'] }}">
	      <input type="hidden" class="link-title" value="{{ link['title'] }}">
	      <input type="hidden" class="link-url" value="{{ link['long_url'] }}">
	      <button type="button" title="Edit link" onclick="edit_link(event)"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-pencil-alt"></i>
	      </button>
	    </form>
	    {% endif %}
	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
