{% extends "base.html" %}
{% block content %}

<input type="hidden" id="org_name" value="{{ name }}">
<input type="hidden" id="netid" value="{{ netid }}">

<div class="row row-controls">
  <div class="col col-auto">
    <h2>Manage organization <em>{{ name }}</em></h2>
  </div>

  <div class="col col-md-auto">
    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="create_toggle"
	 data-toggle="dropdown" aria-expanded="false" tabindex="0" data-trigger="manual"
	 onclick="clear_form(ADD_MEMBER_FORM)">
	<i class="fas fa-plus-circle"></i> Add a Member
      </a>
      <div class="dropdown-menu create-org-dropdown">
	<form class="px-4 py-3 needs-validation" novalidate>
	  <input type="hidden" id="member-add-name" value="{{ name }}">
	  <input type="hidden" id="member-add-is_admin" value="">
	  <div class="input-group">
	    <input type="text" id="member-add-netid" class="form-control"
		   onkeydown="add_member_keypress(event)" placeholder="NetID">

	    {% if user_is_admin %}
	    <div class="input-group-append">
	      <div class="input-group-text">
		Admin?
		&nbsp;
		<input type="checkbox" id="member-add-is_admin-checkbox"
		       aria-label="Should the new member be an administrator?"
		       onkeydown="add_member_keypress(event)">
	      </div>
	    </div>
	    {% endif %}
	    
	    <div class="input-group-append">
	      <button type="button" class="btn btn-primary" onclick="add_member_shim()">
		Add
	      </button>
	    </div>
	  </div>

	  <div id="member-add-netid-feedback" class="invalid-feedback"></div>
	</form>
      </div>
    </div>
  </div>

  {% if user_is_admin %}
  <div class="col col-md-auto">
    <button class="btn btn-outline-primary btn-no-border btn-no-background bg-light"
	    type="button" onclick="delete_org_manage('{{ name }}')">
      <i class="fas fa-trash"></i> Delete Organization
    </button>
  </div>
  {% endif %}

  {% if user_is_member %}
  <div class="col col-md-auto">
    <button class="btn btn-outline-primary btn-no-border btn-no-background bg-light"
	    type="button" onclick="remove_self()">
      <i class="fas fa-times"></i> Leave Organization
    </button>
  </div>
  {% endif %}
</div>

{% if members %}
<div class="container">
  {% for member in members %}
  {% include "member_card.html" %}
  {% endfor %}
</div>
{% else %}
<div class="row">
  <div class="col">
    <h4>This organization currently has no members.</h4>
  </div>
</div>
{% endif %}

<div id="member-remove-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
	<h4 id="delete-member-header">Are you sure you want to remove this member?</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>

      <div class="modal-body">
	<span id="delete-member-message">This operation cannot be undone.</span>

	<button id="delete-member-button" type="button" class="btn btn-primary float-right"
		onclick="do_remove_member()">
	  Delete
	</button>

	<button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
	  Cancel
	</button>
      </div>
    </div>
  </div>
</div>

{% include "delete_organization_modal.html" %}

{% assets "shrunk_manage_org" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
