<div class="row">
  <div class="col">
    <div class="card card-shrunk">
      <div class="card-block">
	<div class="row">
	  <div class="col col-shrunk-info">
	    <nobr class="shrunk-info">
	      <span title="{{ member['netid'] }}" class="shrunk-card-name">
		{{ member['netid'] }}
	      </span>
	      {% set formatted_time = "Added: " + formattime(member["timeCreated"]) %}
	      <span title="{{ formatted_time }}">{{ formatted_time }}</span>
	      {% if member['is_admin'] %}
	      <span title="User is an Administrator"><em>Administrator</em></span>
	      {% endif %}
	    </nobr>
	  </div>

	  {% if user_is_admin %}
	  <div class="col-3 align-self-center">
	    <form>
	      <input type="hidden" class="org-name" value="{{ name }}">
	      <input type="hidden" class="org-member-netid" value="{{ member['netid'] }}">
	      <button type="button" title="Remove member" onclick="remove_member(event)"
		      class="btn btn-outline-danger btn-no-border btn-round float-right">
		<i class="fas fa-times-circle"></i>
	      </button>
	    </form>
	  </div>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</div>
