{% extends "base.html" %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<input type="hidden" id="org_name" value="{{ name }}">
<input type="hidden" id="netid" value="{{ netid }}">

<div class="row row-controls">
  <div class="col col-auto">
    <h2>Statistics for organization <em>{{ name }}</em></h2>
  </div>

  <div class="col col-md-auto">
    <form action="{{ url_for('orgs.manage') }}">
      <input type="hidden" name="name" value="{{ name }}">
      <button class="btn btn-outline-primary btn-no-border btn-no-background bg-light"
	      type="submit">
	<i class="fas fa-tools"></i> Manage organization
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="member_stats_container" style="min-width 310px; height: 500px; margin: 0 auto"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="map-toggle" class="btn-group">
      <button class="btn btn-default" type="button" onmouseup="show_us_map()">US</button>
      <button class="btn btn-default" type="button" onmouseup="show_world_map()">World</button>
    </div>

    <div id="maps-div">
      <div id="us-map" style="min-width 310px; height: 500px; margin: 0 auto"></div>
      <div id="world-map" style="min-width 310px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

{% assets "shrunk_org_stats" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
