<div class="row">
  <div class="col">
    <div class="card card-shrunk">
      <div class="card-block">
	<div class="row">

	  <div class="col col-shrunk-info">
	    <nobr class="shrunk-info">
	      <span title="{{ org['name'] }}" class="shrunk-card-name">{{ org['name'] }}</span>
	      {% set formatted_time = "Created: " + formattime(org["timeCreated"]) %}
	      <span title="{{ formatted_time }}">{{ formatted_time }}</span>
	      {% if is_org_admin %}
	      <span title="User is an administrator"><em>Administrator</em></span>
	      {% endif %}
	    </nobr>
	  </div>

	  <div class="col-3 align-self-center">
	    {% if is_org_admin %}
	    <form>
	      <input type="hidden" class="org-name" value="{{ org['name'] }}">
	      <button type="button" title="Delete organization" onclick="delete_org_list(event)"
		      class="btn btn-outline-danger btn-no-border btn-round float-right">
		<i class="fas fa-trash"></i>
	      </button>
	    </form>
	    {% endif %}

	    <form action="{{ url_for('orgs.manage') }}" method="get">
	      <input type="hidden" name="name" value="{{ org['name'] }}">
	      <button type="submit" title="Manage organization"
		      class="btn btn-outline-dark btn-no-border btn-round float-right">
		<i class="fas fa-user-friends"></i>
	      </button>
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
