{% if print %}

<!DOCTYPE html>
<html>
    <body>
      <div id="qr"></div>

      {# We have to include jquery manually here since we don't
         extend base.html when print=true #}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
	      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	      crossorigin="anonymous"></script>

      {% assets "shrunk_qr" %}
      <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    </body>
</html>

{% else %}

{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col">
    <h2>QR code for <em>{{ url }}</em></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="qr"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="qr-buttons" class="btn-group" role="group" aria-label="Print or download">
      <button id="print" type="button" class="btn btn-primary btn-qr">Print</button>
      <button id="download" type="button" class="btn btn-primary btn-qr">Download</button>
    </div>
  </div>
</div>

{% assets "shrunk_qr" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
{% endif %}
