{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col">
    <h2>QR code for <em>{{ url }}</em></h2>
  </div>
</div>

{% if url_exists %}
<div class="row">
  <div class="col">
    <div id="qr"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="qr-buttons" class="btn-group" role="group" aria-label="Print or download">
      <button id="print" type="button" class="btn btn-primary btn-qr">Print</button>
      <button id="download" type="button" class="btn btn-primary btn-qr">Download</button>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col">
    <h3>That link does not exist.</h3>
  </div>
</div>
{% endif %}

{% assets "shrunk_qr" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
