{% extends "base.html" %}
{% block content %}

<div class="row row-controls">
  <div class="col">
    <h2>{{ title }}</h2>
  </div>
</div>

{% if msg %}
<div class="row">
  <div class="col">
    <h3>{{ msg }}</h3>
  </div>
</div>
{% endif %}

{% if error %}
<div class="row">
  <div class="col">
    <div class="error">
      {{ error }}
    </div>
  </div>
</div>
{% endif %}

{# The grant role box #}
<div class="row">
  <div class="col">
    <form action="/roles/{{ role }}/" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      {% if allow_comment %}
      <h3>Comment:</h3>
      <textarea name="comment" rows="5" cols="33" required class="form-control comment"
		placeholder="{{ comment_prompt }}"></textarea>
      {% endif %}

      <div class="input-group">
	<input name="entity" type="text" aria-label="Grantee" class="form-control input-large"
	       placeholder="{{ grantee_text }}">
	<div class="input-group-append">
	  <button type="submit" class="btn btn-primary">
	    {{ grant_button }}
	  </button>
	</div>
      </div>
    </form>
  </div>
</div>

{% if grants %}
<div class="row revoke-title-row">
  <div class="col">
    <h3>{{ revoke_title }}</h3>
  </div>
</div>

<div class="container">
  {% for grant in grants %}
  {% include "role_card.html" %}
  {% endfor %}
</div>
{% else %}
<div class="row revoke-title-row">
  <div class="col">
    <h3>{{ empty }}</h3>
  </div>
</div>
{% endif %}

{% assets "shrunk_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
