{% extends "base.html" %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="row row-controls">
  <div class="col col-auto">
    <h2 style="display: inline-block">Visit statistics for <em>{{ short_url }}</em></h2>
  </div>

  <div class="col">
    <form action="{{ url_for('stat.link-csv') }}">
      <input type="hidden" name="url" value="{{ short_url }}">
      <button type="submit" class="btn btn-outline-primary btn-no-border btn-no-background btn-csv-download bg-light" {% if not url_info or not url_info["visits"] %} disabled {% endif %}>
	<i class="fas fa-download"></i> Export visit data as CSV
      </button>
    </form>
  </div>
</div>

{% if url_info and url_info["visits"] %}
<div class="row" id="ad_blocker_message">
  <div class="col">
    <h4>If you see this message and are using an ad blocker or a script blocker,
      you may need to disable it for this page to load properly.</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3><a href="{{ url_info['long_url'] }}">{{ url_info["title"] }}</a></h3>
      <span style="margin-right: 10px">Total visits: {{ url_info["visits"] }}</span>
      <span>First time visits: <span id="first_time_visits">Loading...</span></span>
      <div id="visits-container" style="min-width 310px; height: 400px; margin: 0 auto"></div>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <div id="map-toggle" class="btn-group">
      <button class="btn btn-default" type="button" onmouseup="show_us_map()">US</button>
      <button class="btn btn-default" type="button" onmouseup="show_world_map()">World</button>
    </div>

    <div id="maps-div">
      <div id="us-map" style="min-width 310px; height: 500px; margin: 0 auto"></div>
      <div id="world-map" style="min-width 310px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <div class="pie-div" height="191" id="browser-stats">
      <canvas id="browser-canvas"></canvas>
    </div>
  </div>

  <div class="col">
    <div class="pie-div" id="platform-stats">
      <canvas id="platform-canvas"></canvas>
    </div>
  </div>

  <div class="col">
    <div class="pie-div" id="referer-stats">
      <canvas id="referer-canvas"></canvas>
    </div>
  </div>
</div>
{% elif not url_info %}
<div class="row">
  <div class="col">
    <h3>That link does not exist.</h3>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col">
    <h3>There have not yet been any visits to this link.</h3>
  </div>
</div>
{% endif %}

{% assets "shrunk_stats_" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
