* {
    font-family: 'Roboto', sans-serif;
}

html {
    padding-top: 40px;
    background-color: #fefefe;
    min-height: 100%;
    position: relative;
}

.login-box {
    margin: 80px auto 60px auto;
    padding: 30p;
    text-align: center;
}

#title {
    font-size: 36pt;
    color: #cc0e32;
}

#subtitle {
    font-size: 12pt;
}

#facstaff {
    font-size: 15pt;
}

.row > .col > form {
    width: 25%;
    margin: auto;
}

.row > .col > form .btn {
    display: inline-block;
    margin: 20px 0;
    height: 45px;
    background-color: #cc0e32;
    border-color: #cc0e32;
}

.row > .col > form .btn:active {
    background-color: #910d26;
    border-color: #570b1a;
}

.row > .col > form .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(201, 38, 69, .5);
}

.row > .col > form .btn:active:focus {
    box-shadow: 0 0 0 .2rem rgba(201, 38, 69, .5);
}

.navbar {
    margin-bottom: 20px;
    background: #cc0e32;
}

.footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: #363636;
}
