<!doctype html>
<html lang="en" class="min-h-full relative bg-gray-50">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Go &mdash; Rutgers University URL Shortener</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/geist.css') }}" />
  {% if dev %}
  <script src="https://cdn.tailwindcss.com"></script>
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}" />
  {% endif %}

  <!-- Favicon -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/ico" />
</head>

<body>
  <header>
    <nav class="bg-red-600 fixed top-0 w-full z-10">
      <div class="mx-auto flex items-center justify-between p-4">
        <a id="rutgers-logo" class="navbar-brand" href="{{ url_for('shrunk.index') }}">
          <img alt="Rutgers" src="{{ url_for('static', filename='img/rutgers.png') }}" width="175px"
            srcset="{{ url_for('static', filename='img/rutgers.png') }}" />
        </a>
      </div>
    </nav>
  </header>

  <main class="h-full">
    <div class="my-40">
      {% block content %} {% endblock %}
    </div>
  </main>

  <footer class="absolute p-5 bottom-0 w-full bg-gray-900 flex justify-center text-center">
    <div class="w-2/3">
      <p class="text-white text-sm text-balance">
        © 2024 <a class="underline" href="https://www.rutgers.edu/">Rutgers, The State University of New Jersey</a>. All
        rights reserved. Rutgers is an equal access/equal opportunity institution. Individuals with disabilities are
        encouraged to direct suggestions, comments, or complaints concerning any accessibility issues with Rutgers
        websites to <a class="underline" href="accessibility@rutgers.edu">accessibility@rutgers.edu</a> or
        <a class="underline" href="https://rutgers.ca1.qualtrics.com/jfe/form/SV_57iH6Rfeocz51z0">complete the Report
          Accessibility Barrier or Provide Feedback Form.</a>
      </p>
    </div>
  </footer>
</body>

</html>