{% extends "base.html" %}
{% block content %}
<div class="login-box container">
  <div class="row">
    <div class="col col-auto">
      <h2>Two-factor authentication required</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-auto">
      Due to multiple security incidents involving phishing, users wishing to use Go must now have
      two-factor authentication enabled on their account. For help with setting up two-factor
      authentication, please see
      <a href="https://netid.rutgers.edu/setupTwoFactorAuthentication.htm">this</a> page. 
      You may also need to activate two-step login for all Rutgers University sign-in pages on 
      netid.rutgers.edu under Manage My NetID+ User Account Opt in/out. 
    </div>
  </div>
</div>
{% endblock %}