{% extends "base.html"%} {% block content %}
{% import 'macros.html' as macros %}
<div class="flex items-center justify-center text-center">
  <div class="w-2/3">
    <div>
      <h1 class="mb-2 text-8xl font-black text-balance">go.rutgers.edu</h1>
      <p class="mb-4 text-lg">Rutgers University's URL Shortener.</p>
    </div>
    {% if dev %}

    <form class="pb-4" action="{{ url_for('devlogins.user') }}" method="GET">
      {{ macros.button("Login as DevUser") }}
    </form>
    <form class="pb-4" action="{{ url_for('devlogins.facstaff') }}" method="GET">
      {{ macros.button("Login as DevFacstaff") }}
    </form>
    <form class="pb-4" action="{{ url_for('devlogins.power') }}" method="GET">
      {{ macros.button("Login as DevPowerUser") }}
    </form>

    <form class="pb-4" action="{{ url_for('devlogins.admin') }}" method="GET">
      {{ macros.button("Login as DevAdmin") }}
    </form>

    {% else %}

    <form class="pb-4" action="{{ shib_login }}" method="GET">
      {{ macros.button("Login with CAS") }}
    </form>

    {% endif %}

    <!--mkea this a gif-->
    <img src="{{ url_for('static', filename='img/preview.png') }}" class="rounded-xl drop-shadow-2xl" />
  </div>
</div>

{% endblock %}