* {
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  padding-right: 20px;
}

.logo {
  margin: 0 28px 0 0;
  float: left;
}

.main-content {
  background: #fff;
  min-height: calc(100vh - 64px - 70px) !important;
}

.role {
  color: white;
  pointer-events: none;
}

.user-name{
  position: absolute;
  right: 20px;
  margin-left: 20px;
  width: 150px;
}

.logout-menu {
  color: #eda6b8;
  font-size: 1.2em;
}
.logout:hover {color: white;}

.nav-text {
  font-size: 1.2em;
  color: #eda6b8;
}

.nav-text:hover {
  color: #fff;
}