* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin: 0 28px 0 0;
  float: left;
}

.main-content {
  background: #fff;
  min-height: calc(100vh - 64px - 70px) !important;
}

.role {
  color: white;
  pointer-events: none;
}

.nav-text {
  font-size: 1.2em;
  color: #eda6b8;
}

.user-btn{
  background-color:#cc0e32;
  color: #eda6b8;
  font-size: 1.2em;
}
.user-btn:hover{color: white;}

.logout {
  color: #eda6b8;
  font-size: 1.2em;
}
.logout:hover {color: white;}
