<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <p>Dear {{ entity }},</p>

        <p>This email is to confirm that your request for the {{ uppercase_role_name }} role has been sent. Please wait for your request to be processed, as an admin needs to manually check whether you meet the necessary requirements for this role. You will receive another email on your request's approval/denial.</p>
        
        <p>Thank you for your interest and usage of go.rutgers.edu, the official URL shortener of Rutgers, The State University of New Jersey.</p>
        
        <p>Sincerely,</p>
        <p>The OSS Team</p>

        <p><i>Please do not reply to this email. You may direct any questions to
        <a href="mailto:oss@oit.rutgers.edu">oss@oit.rutgers.edu</a>.</i></p>
    </body>
</html>