<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>The user {{ entity }} has requested the {{ uppercase_role_name }} role. Please process their request.</p>

        <p><i>Please do not reply to this email. You may direct any questions to
        <a href="mailto:oss@oit.rutgers.edu">oss@oit.rutgers.edu</a>.</i></p>
    </body>
</html>
