$primary-color: #cc0e32;
$secondary-color: #ffffff;
$light-grey: #b7aa9f;
$link-color: #407aaa;

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color
);

$footer-height: 45px;
