@import 'config';

.login-box {
    margin: 80px auto 60px auto;
    padding: 30px;
    text-align: center;

    #title {
	font-size: 36pt;
	color: #cc0e32;
    }

    #subtitle {
	font-size: 12pt;
    }

    #facstaff {
	font-size: 15pt;
    }

    .row > .col > form {
	width: 25%;
	margin: auto;

	.btn {
	    display: inline-block;
	    margin: 20px 0;
	    height: 45px;
	}
    }
}
