@import 'config';
@import '~bootstrap';

* {
    font-family: 'Roboto', sans-serif;
}

html {
    padding-top: 40px;
    background-color: #fefefe;
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: calc(2*#{$footer-height} + #{$spacer});
}

@include media-breakpoint-up(lg) {
    body {
        margin-bottom: calc(#{$footer-height} + #{$spacer});
    }
}

.main-container {
    margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #363636;
    height: calc(2*#{$footer-height});
    line-height: #{$footer-height};
}

@include media-breakpoint-up(lg) {
    .footer {
        height: $footer-height;
        line-height: $footer-height;
    }
}

.navbar {
    margin-bottom: 20px;
    background: theme-color("primary");
}

.navbar form, .navbar > .btn {
    margin: 5px 0;
}

#netid-dropdown {
    margin-left: $spacer;
}

.rows-container {
    width: 100%;
    overflow: hidden;
}

.rows-container > .row {
    padding: 11px 0;
}

.rows-container > .row:not(:last-child) {
    border-bottom: 1px solid $light-grey;
}

.row-title {
    font-size: 23pt;
    color: #686b69;
    padding-right: 10px;
}

.row-controls {
    padding-bottom: 11px;
    // margin-bottom: 20px;
    border-bottom: 1px solid;
    border-color: $light-grey;
}

.col-prop {
    padding-bottom: 6px;

    span {
	padding-right: 10px;
    }
}

dl {
    display: inline;
    list-style: none;
    margin-bottom: 0;

    dt, dd {
	display: inline;
    }

    dt {
	font-weight: normal;
	font-style: italic;
	padding-right: 3px;

    }

    dt::after {
	content: ": ";
    }

    dt.bold {
	font-weight: bold;
	font-style: normal;
    }

    dt.deleted {
	font-weight: bold;
	font-style: normal;
	color: theme-color("danger");
    }

    dt.no-colon {
	padding-right: 10px;

    }

    dt.no-colon::after {
	content: "";
    }

    dd {
	padding-right: 10px;
    }
}

.error {
    font-weight: bold;
    color: theme-color("danger");
}

.btn.bg-light:hover {
    color: theme-color("primary") !important;
}

.btn-circle {
    border: none;
    border-radius: 25px;
}

@each $color, $value in $theme-colors {
    .btn-circle-#{$color} {
	@extend .btn-outline-#{$color};
	@extend .btn-circle;
    }
}

.btn-no-border {
    border: none;
}

$info-proportion: 82%;

@mixin make-proportion-col($proportion) {
    @extend .col;
    flex: 0 0 $proportion;
    max-width: $proportion;
}

.col-info {
    @include make-proportion-col($info-proportion);
}

.col-buttons {
    @include make-proportion-col(calc(100% - #{$info-proportion}));
    @extend .align-self-center;
}

.col-buttons .btn {
    @extend .float-right;
} 

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.col-remaining {
    flex: 0 1 auto;
    min-width: 0;
}

.ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
