@import 'config';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

#create-org-dropdown {
    .dropdown-menu {
        width: 150%;
    }

    .btn {
        border-top-right-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;
    }
}
