.row {
    margin-bottom: 10px;
}

.row-controls {
    padding-bottom: 11px;
    border-bottom: 1px solid;
    border-color: #b7aa9f;
}

.col-csv-download {
    border-left: 1px solid;
    border-color: #b7aa9f;
}

.shrunk-title {
    margin-right: 10px;
    font-size: 23pt;
}

.shrunk-time-created {
    margin-right: 10px;
}

.card-link {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: #b7aa9f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row:last-of-type > .col > .card-link {
    border: none;
}

.btn-round {
    border-radius: 25px;
}

.col-link-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
