* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 70px;
    background-color: #fefefe;
}

h1 {
    padding-top: 10px;
    font-size: 48px;
}

ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

label {
    margin: 0;
}

.container {
    width: 70%;
}

.navbar {
    background-color: #cc0e32;
    height: 70px;
    color: #fefefe;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand a {
    color: white;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    background-color: #d21034;
}

.navbar-header {
    padding-left: 15px;
}

.navbar-subtitle {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}

/*
.search-bar .form-group {
    display: inline;
}

.search-bar .input-group {
    display: table;
}

*/

.search-bar {
    width: 100%;
}

.search-bar .form-group .form-control {
    font-size: 18px;
    width: 80%;
    float: left;
}

.search-bar .search-btn {
    background-color: #b2122e;
    color: #fefefe;
    float: right;
    /* width: 15%; */
    width: 40px;
}

.search-bar input::-webkit-input-placeholder {
    color: #DADBD9;
}
.search-bar input:-moz-placeholder {
    /* FF 4-18 */
    color: #DADBD9;
}
.search-bar input::-moz-placeholder {
    /* FF 19+ */
    color: #DADBD9;
}
.search-bar input:-ms-input-placeholder {
    /* IE 10+ */
    color: #DADBD9;
}

.navbar-form {
    /*width: 100%;*/
}

.error {
    font-style: bold;
    font-size: 18px;
    color: red;
}

.form-box,
.tool-box,
.links-box,
.login-box,
.not-found-box {
    float: left;
    margin-top: 50px;
    margin-bottom: 60px;
    min-height: 1px;
    -webkit-border-radius: 3px;
    display: block;
}

.not-found-box .hero {
    font-size: 5em;
    text-align: center;
}

.not-found-box .message {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.login-box {
    font-size: 24px;
    margin-top: 80px;
    padding: 30px;
    text-align: center;
}

.login-box .hero {
    font-size: 72px;
    padding: 10px;
}

.login-box .message {
    font-size: 22px;
    padding-bottom: 25px;
}

.login-box .form-control {
    font-size: 20px;
}

.login-box .login-form {
    border: 1px solid rgb(211,211,211);
    padding: 15px 40px;
    margin-top: 40px;
    left: 20%;
    right: 20%;
    width: 60%;
    position: relative;
}

.login-box .login-form .error {
    color: red; 
    font-size: 16px;
}

.login-box .login-form .form-group {
    padding-top: 10px;
}

.login-box .login-button {
    margin: 20px 0;
    width: 100px;
    height: 45px;
    background-color: #b2122e;
    color: #fefefe;
}

.tool-box {
    padding: 15px;
}

.tool-box div {
    line-height: 25px;
}

.tool-sub-box {
    border-bottom: 1px solid rgb(211,211,211);
    overflow-x: hidden;
    padding: 10px;
}

.links-box {
    padding: 0;
}

.form-box {
    padding-bottom: 15px;
}

.tool-box {

}

.add-group {
    width: 100%;
    display: block;
}

.add-group #netid {
    width: 50%;
    margin-bottom: -10px;
}

.add-group .flag {
    margin: 0 5px;
}

.add-group .shrink-button {
    margin-top: 5px;
    width: 120px;
    height: 36px;
    background-color: #b2122e;
    color: #fefefe;
}

.add-group .item {
    margin: 20px 0;
    padding: 10px 0;
    font-size: 24px;
}

.add-group .error {
    color: red;
    font-size: 16px;
    float: right;
    padding-top: 8px;
}

.link-group {
    color: #191917;
    width: 100%;
    padding: 15px;
    min-height: 100px;
    border-bottom: 1px solid rgb(211,211,211);
    font-size: 18px;
    display: block;
    overflow-y: hidden;
}

.link-group:hover{
    background-color: #eeeeee;
    box-shadow: 0 1px 16px rgba(0,0,0,.2);
}

.link-group .title {
    font-size: 24px;
    float: left;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-group .short-link {
    color: rgb(211,211,211);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-group .link-info {
    width: 100%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.original-url {
    color: #191917;
}

.link-group .hover-controls {
    float: right;
    color: #bbbbbb;
    font-size: 18px;
    width: 15%;
}

.user-group {
    color: #191917;
    width: 100%;
    padding: 15px;
    min-height: 100px;
    border-bottom: 1px solid rgb(211,211,211);
    font-size: 18px;
    display: block;
    overflow-y: hidden;
}

.user-group .user-info {
    width: 100%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
}

.user-group .flags {
    display: inline;
}

.user-group .added-by {
    float: left;
}

.user-group .hover-controls {
    float: right;
    color: #bbbbbb;
    font-size: 18px;
    /* width: 15%; */
}

.page-group {
    float: left;
    font-size: 28px;
    width: 98%;
}

.page-box {
    
}

.page-numbers {
    display: inline-block;
    margin: 12px auto;
    text-align: center;
    width: 90%;
}

.page {
    display: inline-block;
}

.prev {
    display: inline-block;
    float: left;
    width: 5%;
    font-size: 48px;
}

.next {
    display: inline-block;
    float: right;
    width: 5%;
    font-size: 48px;
}

.active {
    font-weight: bold;
    font-size: 36px;
}

.footer {
    background-color: #F0F2EF;
}

#footer {
    position:   fixed;
    width:      100%;
    height:     40px;
    bottom:     0;
    padding:    12px;

    background: #363636;
}

.box {
    color: #F0F0F0;
    width:  800px;
    margin: 0 auto;

    text-align: center;
}

#wrapper {
    min-height: 100%;
    position:   relative; 
}

.sidebar {
    position: fixed;
    /* width: 20%; */
    width: 15%;
    border-right: 1px solid rgb(211,211,211);
    padding-right: 30px;
    min-height: 85%;
}

.menu-item {
    text-align: right;
}

select {
    width: 135px;
}

/* ---- 

Media Queries

---- */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search-bar .form-group .form-control {
        border: none;
        min-height: 48px;
        color: #1E0208;
        font-size: 20px;
        width: 320px;
    }
}

@media screen and (max-width: 768px) {

    .tool-box .footer {
        display: none;
    }

    .links-box .footer {
        display: auto;
    }

    .navbar-collapse {
        margin-top: 20px;
    }

    .navbar-collapse .navbar-subtitle {
        text-align: center;
    }

    .search-bar .form-group .form-control {
        border: none;
        min-height: 48px;
        color: #1E0208;
        font-size: 20px;
        width: 100%;
    }
}
