* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 70px;
    background-color: #fefefe;
}

h1 {
    padding-top: 10px;
    font-size: 48px;
}

/* not responsive */
select {
    width: 135px;
}

.links-header {
    display: inline-block;
    padding-right: 15pt;
}

#map-toggle {
    padding-top: 20px;
}

ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

label {
    margin: 0;
}

.navbar-header {
    background-color: #cc0e32;
}

#rutgers-logo {
    padding: 5px;
}

.nav>li>a {
     color: white; 
}

.nav>li>p {
    position: relative;
    display: block;
    padding: 15px;
    line-height: 20px;
    margin: 0;
}

.nav>li>a:hover {
     color: #337ab7;
}

.navbar-collapse {
    background-color: #d21034;
}

.navbar-subtitle {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}

#shrunk-toolbar-netid {
    font-size: 24pt;
    margin-right: 10px;
}

.shrunk-toolbar {
    display: flex;
    align-items: center;
}

.shrunk-toolbar-item {
    margin-right: 5px !important;
}

.error {
    font-style: bold;
    font-size: 18px;
    color: red;
}
/* login box might be no longer realy used/relevant */
.login-box {
    float: left;
    margin-top: 15px;
    margin-bottom: 60px;
    min-height: 1px;
    -webkit-border-radius: 3px;
    display: block;
}
/* not-found box might be no longer realy used/relevant */
.not-found-box .hero {
    font-size: 40px;
    text-align: center;
}

.not-found-box .message {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

#go-url {
    padding-bottom: 0;
}

.dev-login-box {
    display: flex;
    flex-direction: column;
}

.dev-login-box>*>.login-button {
	width: 100%;
}
.login-box {
    font-size: 24px;
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    
}

.login-box .hero {
    font-size: 72px;
    padding: 10px;
}

.login-box .message {
    font-size: 22px;
    padding-bottom: 25px;
}

.login-box .form-control {
    font-size: 20px;
}

.login-box .login-form {
    border: 1px solid rgb(211,211,211);
    padding: 15px 40px;
    margin-top: 40px;
    left: 20%;
    right: 20%;
    width: 60%;
    position: relative;
}

.login-box .login-form .error {
    color: red; 
    font-size: 16px;
}

.login-box .login-form .form-group {
    padding-top: 10px;
}

.login-box .login-button {
    margin: 20px 0;
    height: 45px;
    background-color: #d21034;
    color: #fefefe;
}
/* is add group being over used ?*/
.add-group {
    display: block;
}

.add-group .shrink-button {
    height: 36px;
    background-color: #d21034;
    color: #fefefe;
}

.add-group .item {
    margin: 20px 0;
    padding: 10px 0;
    font-size: 24px;
}

.add-group .error {
    color: red;
    font-size: 16px;
    float: right;
    padding-top: 8px;
}
/* is link group being over used ?*/
.link-group {
    color: #191917;
    padding: 15px;
    min-height: 100px;
    border-bottom: 1px solid rgb(211,211,211);
    font-size: 18px;
    display: block;
    overflow-y: hidden;
}

.link-group:hover{
    background-color: #eeeeee;
    box-shadow: 0 1px 16px rgba(0,0,0,.2);
}

.link-group .title {
    font-size: 24px;
}

.link-group .short-link {
    color: rgb(211,211,211);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-group .link-info {
    width: 100%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.original-url {
    color: #191917;
}

@media (max-width: 740px) {
    .hover-controls {
	float: left !important;
	margin-right: 500px;
    }
}

.link-group .hover-controls {
    float: right;
    color: #bbbbbb;
    font-size: 18px;
}
.hover-title {
    float: left;
}

.page-group {
    float: left;
    font-size: 28px;
    width: 100%;
    margin-bottom: 50px;
}

.page-numbers {
    display: inline-block;
    margin: 12px auto;
    text-align: center;
    width: 90%;
}

.page {
    display: inline-block;
}

.prev {
    display: inline-block;
    float: left;
    width: 5%;
    font-size: 48px;
}

.next {
    display: inline-block;
    float: right;
    width: 5%;
    font-size: 48px;
}

.active {
    font-weight: bold;
    font-size: 36px;
}

#footer {
    position:   fixed;
    width:      100%;
    height:     40px;
    bottom:     0;
    padding:    12px;
    background: #363636;
    color: #F0F0F0;
    text-align: center;
}
@media (max-width: 694px) {
    #footer {
	height: 60px;
    }
}
@media (max-width: 358px) {
    #footer {
	height: 70px;
    }
}


#footer a {
    color: #fefefe;
    text-decoration: underline;
}

.qr-col {
    display: flex;
    width: 256px;
    flex-direction: column;
}

.qr-col>* {
    width: 100% !important;
}

#error{
    color: #cc0e32;
    font_size: 20px;
}

#clear-search {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.admin-navbar-hide {
    display: none;
}


/* ---- 

Media Queries

---- */

@media (max-width: 860px) {
    
    #shrunk-toggle {
	border-color: white;
	border-width: 1px;
    }
    #shrunk-toggle>span {
	background-color: white;
    }

    .navbar-collapse .navbar-subtitle {
        text-align: center;
    }
}

@media (max-width: 720px) {
    #shrunk-toolbar {
	flex-direction: column;
    }
}

/* vert toolbar */
@media (max-width: 840px) {
    .shrunk-toolbar {
	flex-direction: column;
	align-items: flex-start;
    }
}
/* end vert toolbar */

@media (min-width: 996px) {
    .shrink-button {
	width: 18%;
    }
}

@media (max-width: 996px) {
    .shrink-button {
	width: 143px;
    }
}

/* for role.html */
#comment {
    width: 100%;
    resize: none;
}

/* for stats.html  */

#pie-charts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 1200px) {
    #pie-charts {
	flex-direction: column;
    }
}

#pie-charts > .pie-div {
    flex: 1;
}