/* .btn-primary should be used against a white background. */

.btn-primary {
    background-color: #cc0e32 !important;
    border-color: #cc0e32 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #ef647f !important;
    border-color: #ef647f !important;
}

.btn-outline-primary {
    color: #cc0e32 !important;
    border-color: #cc0e32 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .dropdown .show > .dropdown-toggle .btn-outline-primary {
    color: #ffffff !important;
    background-color: #ef647f !important;
    border-color: #ef647f !important;
}


/* .btn-secondary should be used against a red background (e.g. the navbar). */

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-secondary:hover {
    background-color: #96606a;
    border-color: #96606a;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus {
    color: #ffffff !important;
    background-color: #ef647f !important;
    border-color: #ef647f !important;
}

.btn-no-border {
    border: none !important;
}

.btn-no-background {
    background: none !important;
}
